<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Pages.Shared.Layout.MainLayout)">
            <NotAuthorized>
                 <RedirectToLogin />               
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Pages.Shared.Layout.MainLayout)">
            <h3>Sorry, the page you requested was not found.</h3>
        </LayoutView>
    </NotFound>
</Router>

<SessionExpiredModal @ref="_sessionExpiredModal" />

@code {
    private SessionExpiredModal? _sessionExpiredModal;

    public void ShowSessionExpiredModal()
    {
        _sessionExpiredModal?.Show();
    }
}
