<div class="loading-indicator">
    <div class="spinner-border @SpinnerColorClass" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <span class="@($"{TextColorClass} loading-text")">@Message</span>
</div>

@code {
    [Parameter] public string Message { get; set; } = "Loading...";
    [Parameter] public bool IsDark { get; set; } = true;

    private string TextColorClass => IsDark ? "text-dark" : "text-light";
    private string SpinnerColorClass => IsDark ? "spinner-blue" : "spinner-green";
}