<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".dat" />
			<remove fileExtension=".dll" />
			<remove fileExtension=".json" />
			<remove fileExtension=".wasm" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
			<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
		</staticContent>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/octet-stream" enabled="true" />
				<add mimeType="application/wasm" enabled="true" />
			</dynamicTypes>
		</httpCompression>
		<rewrite>
			<rules>
				<!-- Route all non-file requests to index.html (for SPA routing) -->
				<rule name="SPA fallback routing" stopProcessing="true">
					<match url="^(?!identity/|server/).*$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
		</rewrite>
		<httpRedirect enabled="false" />
	</system.webServer>
</configuration>